{% block content %}

    <!--Media Gallery-->
        <h3 class="media-gallery-heading">Fu Dog in action...</h3>
        <!--Video clips-->
        <div class="video-gallery container">
            <h4 class="video-gallery-title">Check our videos...</h4>
            <!--Video 1-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video1.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 2-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video13.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 3-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video3.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 4-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video4.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 5-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video13.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 6-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video6.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 7-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video7.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 8-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video8.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 9-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video9.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 10-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video10.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 11-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video2.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 12-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video5.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 13-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video11.mp4') }}" 
                frameborder="0"></iframe>
            <!--Video 14-->
            <iframe src="{{ url_for('static', filename='media/video/fudog-video12.mp4') }}" 
                frameborder="0"></iframe>
        </div>
            <div class="image-gallery container">
                <!--Image gallery-->
                <h4 class="image-gallery-title">Fu Dog images...</h4>
                <!--Image 1-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-1.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-1.jpg') }}"/></a>
                <!--Image 2-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-2.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-2.jpg') }}"/></a>
                <!--Image 3-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-3.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-3.jpg') }}"/></a>
                <!--Image 4-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-31.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-31.jpg') }}"/></a>
                <!--Image 5-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-4.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-4.jpg') }}"/></a>
                <!--Image 6-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-5.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-5.jpg') }}"/></a>
                <!--Image 7-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-6.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-6.jpg') }}"/></a> 
                <!--Image 8-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-32.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-32.jpg') }}"/></a>
                <!--Image 9-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-7.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-7.jpg') }}"/></a>
                <!--Image 10-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-8.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-8.jpg') }}"/></a>
                <!--Image 11-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-9.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-9.jpg') }}"/></a>
                <!--Image 12-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-33.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-33.jpg') }}"/></a>
                <!--Image 13-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-10.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-10.jpg') }}"/></a>
                <!--Image 14-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-11.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-11.jpg') }}"/></a> 
                <!--Image 15-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-12.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-12.jpg') }}"/></a>
                <!--Image 16-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-34.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-34.jpg') }}"/></a>
                <!--Image 17-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-13.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-13.jpg') }}"/></a>
                <!--Image 18-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-14.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-14.jpg') }}"/></a>
                <!--Image 19-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-15.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-15.jpg') }}"/></a>
                <!--Image 20-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-43.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-43.jpg') }}"/></a>
                <!--Image 21-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-16.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-16.jpg') }}"/></a> 
                <!--Image 22-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-17.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-17.jpg') }}"/></a>
                <!--Image 23-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-18.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-18.jpg') }}"/></a>
                <!--Image 24-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-36.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-36.jpg') }}"/></a>
                <!--Image 25-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-19.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-19.jpg') }}"/></a>
                <!--Image 26-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-20.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-20.jpg') }}"/></a>
                <!--Image 27-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-21.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-21.jpg') }}"/></a>
                <!--Image 28-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-22.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-22.jpg') }}"/></a> 
                <!--Image 29-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-23.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-23.jpg') }}"/></a>
                <!--Image 30-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-24.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-24.jpg') }}"/></a>
                <!--Image 31-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-37.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-37.jpg') }}"/></a>
                <!--Image 32-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-25.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-25.jpg') }}"/></a>
                <!--Image 33-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-26.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-26.jpg') }}"/></a>
                <!--Image 34-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-27.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-27.jpg') }}"/></a>
                <!--Image 35-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-28.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-28.jpg') }}"/></a> 
                <!--Image 36-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-29.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-29.jpg') }}"/></a>
                <!--Image 37-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-30.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-30.jpg') }}"/></a>
                <!--Image 38-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-38.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-38.jpg') }}"/></a>
                <!--Image 39-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-39.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-39.jpg') }}"/></a> 
                <!--Image 40-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-40.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-40.jpg') }}"/></a>
                <!--Image 41-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-41.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-41.jpg') }}"/></a>
                <!--Image 42-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog-42.jpg') }}"
                data-caption="Fu Dog">
                <img src="{{ url_for('static', filename='media/images/fudog-42.jpg') }}"/></a>
            </div>
            
            
{% endblock %}