{% block content %}

    <!--Fight Team content-->
    <div class="fight-team container">
        <h3 class="fight-team-heading">Fu Dog Fight Team...</h3>
        <div class="fight-team flip-card">
            <div class="fight-team flip-card-inner">
              <div class="fight-team flip-card-front">
                <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="fight-team flip-card-back">
                <p class="fight-team-member-name">Gregor Fell</p>
                <div class="divider-two"></div>
                  <p class="fight-team-member-bio">From:
                    <span class="fight-team-member-detail">Dunfermline</span></p>
                  <p class="fight-team-member-bio">Age:
                    <span class="fight-team-member-detail">TBC</span></p>
                  <p class="fight-team-member-bio">Height:
                    <span class="fight-team-member-detail">TBC</span></p>
                  <p class="fight-team-member-bio">Weight:
                    <span class="fight-team-member-detail">TBC</span></p>
                  <p class="fight-team-member-bio">Reach:
                    <span class="fight-team-member-detail">TBC</span></p>
                  <p class="fight-team-member-bio">Division:
                    <span class="fight-team-member-detail">TBC</span></p>
                  <p class="fight-team-member-bio">Style:
                    <span class="fight-team-member-detail">TBC</span></p>
                  <p class="fight-team-member-bio">Team:
                    <span class="fight-team-member-detail">Fu Dog Martial Arts</span></p>
                  <p class="fight-team-member-bio">Trainer:
                    <span class="fight-team-member-detail">Iain Feenan</span></p>
                </div>
            </div>
          </div>
    </div>
{% endblock %}